.cardlayout {
  border: 2.5px solid black;
  border-radius: 2.5px;
  text-align: center;
  width: 125px;
  height: 125px;

}

.cardart {
  border: 1px solid black;
  width: 75px;
  height: 75px;
  padding: 5px;
}

.cardname {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  text-align: left;
  font-size: 0.5rem;
}

.carddescription {
  text-align: center;
  font-size: 0.5rem;
}

.stats {
  text-align: center;
  font-size: 0.5rem;
}

.handlayout {
  border: 10px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: bottom;
  gap: 20px;
  padding: 10px;
  width: 671px;
}

.boardlayout {
  border: 5px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  padding: 0;
  width: 700px;
}

.lanelayout {
  border: 5px solid red;
  height: 518px;
  width: 150px;
  padding: 0;
  flex-direction: column;
  justify-content: left;
}

.informationlayout {
  text-align: right;
  width: 1150px;
  position: absolute;
}