.card {
  border: 2.5px solid black;
  border-radius: 2.5px;
  text-align: center;
  width: 62.5px;
  height: 87.5px;

}

.cardart {
  border: 1px solid black;
  width: 56.25px;
  height: 37.5px;
  padding: 5px;
}

.cardname {
  margin-top: 0;
  padding-top: 0;
  text-align: left;
}

.carddescription {
  text-align: center;
}